/processed_celeba_small/*
/old_processed_celeba_small/*
/training_results_pkl/*
/dlnd_face_generation/*
/dlnd_face_generation_1st_submission/*
/dlnd_face_generation_2nd_submission/*
dlnd_face_generation_1st_submission.zip
dlnd_face_generation_2nd_submission.zip
processed_celeba_small.zip
dlnd_face_generation_44.ipynb
dlnd_face_generation_GPU.ipynb
README-Template.md
hyperparameter_commit_guide.txt
parameter_beta1.ipynb
